.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 64px;
  max-width: 1280px;
  font-weight: bold;
  background: #888888;
  color: #efefef;
  display: flex;
  flex-direction: column;
}

.caption {
  margin-left: auto;
  margin-right: auto;
  font-size: 192px;
  text-align: center;
}

.shadow {
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 10px 10px #010101);
}

.link-list {
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0;
}

.link,
.link:link,
.link:visited,
.link:active {
  font-size: 64px;
  color: #121212;
  border-color: black;
  border: none;
  outline: none;
  text-decoration: none;
}

.twitter-link:hover {
  color: #1da1f2;
  transition-duration: 0.3s;
}

.amazon-link:hover {
  color: #ff9900;
  transition-duration: 0.3s;
}

.minecraft-link:hover {
  color: #00aa00;
  transition-duration: 0.3s;
}

.home-link:hover {
  color: #efefef;
  transition-duration: 0.3s;
}

.credit {
  color: #efefef;
  font-size: 24px;
  text-align: center;
  margin: 64px;
}

html {
  font-family: Calibri;
  background: #000000;
}
